/* General Styles */
body {
  background-image: url(https://cdn.glitch.global/a5d4c914-cb94-4cd1-bf26-a1933bd1dbcf/2-sides-of-brain-2-e1648661027959.jpeg?v=1654037260230);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 10em;
  background-color: #ffffff;
}

h1 {
  color: #333;
  font-size: 36px;
  font-family: Arial, sans-serif;
}

p {
  color: #666;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

span {
  color: #999;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Info Section Styles */
.info {
  background-color: #fff; /* White background for contrast */
  padding: 20px; /* Space inside the section */
  margin: 20px; /* Space outside the section */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  text-align: center; /* Center text alignment */
}

/* Navigation Bar Styles */
#navbar {
  background-color: #fff; /* Set background color to white */
  color: #000; /* Set text color to black */
}

#navbar a {
  color: #333; /* Set text color to black */
  text-decoration: none;
}

#navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  margin-right: 20px;
}

#navbar a:hover {
  color: #666;
}

/* Section Styles */
section {
	display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7); /* Set background color to semi-transparent white */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column; /* Add this to stack content vertically */
}

/* Image Styles */
img {
  width: 200px;
  height: 150px;
}

@media only screen and (max-width: 768px) {
  img {
    width: 150px;
    height: 100px;
  }
}

@media only screen and (max-width: 480px) {
  img {
    width: 100px;
    height: 75px;
  }
}

/* Responsive design for small screens */
@media (max-width: 600px) {
  #navbar ul {
    flex-direction: column;
  }
  #navbar ul li {
    margin: 10px 0;
  }
}

/* Add additional media queries as needed for responsiveness */ 
