
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
	background-image: url("gradient_bg.png");
	background-repeat: repeat-x;
}
/* Info Section Styles */
#info {
    background-color: #fff; /* White background for contrast */
    padding: 20px; /* Space inside the section */
    margin: 20px; /* Space outside the section */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: center; /* Center text alignment */
}

#info h1 {
    font-size: 2.5em; /* Larger font size for the name */
    color: #333; /* Darker text color for contrast */
}

#info p {
    font-size: 1.2em; /* Slightly larger font size for readability */
    color: #555; /* Medium gray color for less emphasis */
}

#info a {
    color: #007BFF; /* Link color */
    font-weight: bold; /* Bold links for emphasis */
}

#info a:hover {
    text-decoration: underline; /* Underline on hover for interaction */
}

/* Navigation Bar Styles */

.navigation_bar nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation_bar nav ul li {
  margin-right: 20px;
}

.navigation_bar nav a {
  color: #333;
  text-decoration: none;
}

.navigation_bar nav a:hover {
  color: #666;
}

/* Responsive design for small screens */
@media (max-width: 600px) {
  .navigation_bar nav ul {
    flex-direction: column;
  }
  .navigation_bar nav ul li {
    margin: 10px 0;
  }
}
/* Section Styles */
section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

/* Image Styles */

img {
  width: 200px;
  height: 150px;
}

@media only screen and (max-width: 768px) {
  img {
    width: 150px;
    height: 100px;
  }
}

@media only screen and (max-width: 480px) {
  img {
    width: 100px;
    height: 75px;
  }
}
/* Responsive design for medium screens */
@media (max-width: 900px) {
  .navigation_bar nav ul {
    flex-direction: column;
  }
  .navigation_bar nav ul li {
    margin: 15px 0;
  }
}

/* Responsive design for extra small screens */
@media (max-width: 300px) {
  .navigation_bar nav ul {
    flex-direction: column;
  }
  .navigation_bar nav ul li {
    margin: 5px 0;
  }
}


